<% if false %>
<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Conversation</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender %></td>
        <td><%= message.recipient %></td>
        <td><%= message.conversation %></td>
        <td><%= message.message %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
<% end %>

<div class=”ui segment”>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class=”item”>
        <div class=”content”>
          <div class=”header”><strong><%= user.username %></strong>     <%= message.created_at %></div>
          <div class=”list”>
            <div class=”item”>
              <i class=”right triangle icon”></i>
              <%= message.message %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>

  <div class=”field”>
    <%= f.text_area :message, class: "form-control" %>
  </div>
  <%= f.text_field :sender_id, value: current_user.id, type: "hidden" %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>