
<div class="comment">
	<div class="content">
		<% author = comment.user%>
		<p class="author"><a href="<%= url_for(author)%>"><%=author.username%></a></p>
		<div class="text">
			<p><%= comment.body %></p>
		</div>
	</div>

	<% if user_signed_in? %>
		<div class="ui form">
			<%= form_for [comment, Comment.new] do |f| %>
				<div class="field">
				    <%= f.text_area :body, placeholder: "Add a Reply", rows: 1%><br/>
				   	<%= f.hidden_field :post_id, :value => params[:id] %>
				</div>
			    <%= f.submit "Reply", class: "ui button"  %>
			<% end %>
		</div>
	<% end %>

	<%if children %>
		<div class="comments">
				<%#= render partial: "comments/comment", collection: [ children ] %>
				<%= children.html_safe %>
		</div>
	<% end %>
</div>