<% if false %>
<p id="notice"><%= notice %></p>

<h1>Conversations</h1>

<table>
  <thead>
    <tr>
      <th>User one</th>
      <th>User two</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.user_one %></td>
        <td><%= conversation.user_two %></td>
        <td><%= link_to 'Show', conversation %></td>
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conversation', new_conversation_path %>
<% end %>

<div class=”ui segment”>
  <h3>Mailbox</h3>
  <div class=”ui list”>
    <div class=”item”>
      <% @conversations.each do |conversation| %>
        <% if conversation.user_one_id == current_user.id || conversation.user_two_id == current_user.id %>
          <% if conversation.user_one_id == current_user.id %>
            <% recipient = User.find(conversation.user_one_id) %>
          <% else %>
            <% recipient = User.find(conversation.user_two_id) %>
          <% end %>
          <%= link_to recipient.username,   conversation_messages_path(conversation)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class=”ui segment”>
  <h3>All Users</h3>
    <div class=”ui list”>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <div class=”item”>
          <%= user.username %> <%= link_to 'Message me!', conversations_path(user_one_id: current_user.id, user_two_id: user.id), method: 'post'%>
        </div>
       <% end %>
    <% end %>
  </div>
</div>
