<h1> Conversation with <%=@recipient %> </h1>

<div class="ui comments">
	<% @conversation.receipts_for(current_user).each do |r| %>
		<div class="comment">
			<div class="content">
				<p class="author"><%= r.message.sender.username %> sent:</p>
				<p class="text"><%= r.message.body %></p>
			</div>
		</div>
	<% end %>
</div>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
	<div>
		<div class="ui reply form">
			<%= text_field_tag :body %>
		</div>
	</div>

	
	<%= submit_tag "Reply", class: "ui button" %>
<% end %>