<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="ui form">

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, :value => 1%>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['Female','Male','Other']%>
  </div>

  <div class="actions">
    <button class="ui button" type="submit">
      submit
    </button>
  </div>
  </form>

<% end %>