<%if current_user != nil && current_user == @user%>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
<% end %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if false %>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<% end %>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<% if current_user != nil && current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', root_path %>