<p id="notice"><%= notice %></p>
<div style="margin: 5rem;">
<div class="ui two column centered grid">
  <div class="column">
    <h1>Book Discussions</h1>
    <span>
      <a href="<%= new_book_path %>"><button class="ui button"> Create New Book </button></a>
      <%= link_to '<button class="ui button">View All Posts</button>'.html_safe, :controller => :posts , :action => :index %>
    </span>
    <% @books.each do |book| %>
        <% cache("book/" + book.id.to_s, expires_in: 5.minutes) do %>
        <a class="ui card" href=<%=url_for(book)%> style="width: 100%">
          <div class="content">
            <div class="header"><%= book.title%></div>
            <div class="meta">by <%= book.author%></div>
            <div class="meta"> <%= book.posts.count %> posts</div>
          </div>
        </a>
      <%end%>
    <% end %>
  </div>
</div>

<div class="apple_pagination">
  <%= will_paginate @books %>
</div>

<br>