<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="ui form">
    <div class="ui field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="ui field">
      <%= form.label :author %>
      <%= form.text_field :author %>
    </div>

<<<<<<< HEAD
    <div class="ui field">
      <%= form.label :upvotes %>
      <%= form.number_field :upvotes %>
    </div>
=======
  <div class="field">
    <%= form.label :upvotes %>
    <%= form.number_field :upvotes, :value => 0%>
  </div>
>>>>>>> 68bf5ccd1bfd508946d5ca36df9deb90f9b5f1b7

    <div class="actions">
      <%= form.submit %>
    </div>
  </form>
<% end %>
