<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="ui form">
    <div class="ui field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  
  <% if @book %>
    <%= form.collection_select(:book_id, Book.all, :id, :title, {:selected => @book.id}) %>
  <% else %>
    <%= form.collection_select(:book_id, Book.all, :id, :title) %>
  <% end %>

  <div class="actions">
    <button class="ui button" type="submit">
      submit
    </button>
  </div>
  </form>
<% end %>
