<p id="notice"><%= notice %></p>

<div class="ui grid right aligned">
  <div class="left floated six wide column">
    <div class="centered">
      <h1 class="ui header">Posts</h1>
    </div>
  </div>
  <div class="right floated right aligned three wide column">
    <form action=<%= new_post_path %>>
      <button class="ui button" type="submit"> Create New Post </button>
    </form>
  </div>
</div>


<div class="ui ">
  <% @posts.each do |post| %>
    <div class="ui raised very padded text container segment"> 
      <h2 class="ui header"> <%= post.title %></h2>
      <div class="ui">By <%= post.author %></div>
      <div class="ui">Upvotes: <%= post.upvotes %></div>
      <div class="ui"><%= post.content %></div>
      <% if user_signed_in? and current_user.email === post.author %>
        <div class="ui grid right aligned">
          <div class="right floated right aligned six wide column">
            <div class="ui">
              <%= link_to 'Show', post %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <% end %>

  <div class="apple_pagination">
    <%= will_paginate @posts %>
  </div>
<br>

