<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= Book.find(@post.book_id).title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <a href="<%= url_for(User.find(@post.author))%>"><%= getAuthorById(@post.author) %></a>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @post.score%>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content%>
</p>

<% if user_signed_in?%>
  <%if current_user.id.to_s == @post.author %>
    <%= link_to 'Edit', edit_post_path(@post) %> | 
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', root_path %> 
  <%end%>

  <%= form_for [@post, Upvote.new] do |f| %>
    <%= f.submit 'Upvote', class: 'upvote-submit' %>
  <% end %>
<%end%>

<h3 class="ui dividing header">Comments</h3>


<div class="ui comments" style="margin: 1rem; width: 100%">
  <% if user_signed_in? %>
    <div class="ui form">
      <%= form_for [@post, Comment.new] do |f| %>
        <div class="field">
          <%= f.text_area :body, placeholder: "Add a comment", rows: 1%><br/>
        </div>
        <%= f.submit "Add Comment", class: "ui button" %>
      <% end %>
    </div>
  <% end %>
  <div class="ui card" style="padding: 1rem; width: 100%;">
    <%= render(partial: 'comments/comment', collection: @post.comments) %>
  </div>
</div>
