<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author Id:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @post.upvotes %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
