<!DOCTYPE html>
<html>
  <head>
    <title>Boe's Beautiful Books </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui menu">
      <div class="item">
        <%= link_to root_path do%>
          Boe's Books
        <% end%>
      </div>
      <% if not user_signed_in? %>
        <div class="item">
          <%= link_to new_user_registration_path do %>
            <div class="ui primary button">Sign up</div>
          <% end %>
        </div>
        <div class="item">
          <%= link_to new_user_session_path do %>
            <div class="ui button">Login</div>
          <% end %>
        </div>
      <% else %>
        <div class="item">
          <%= link_to users_path(current_user.id) do %>
            <div class="ui primary button"><%= current_user.username %>'s Profile</div>
          <% end %>
        </div>
        <div class="item">
          <%= link_to destroy_user_session_path do %>
            <div class="ui primary button">Logout</div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
